
.bttop{
    position: fixed;
    bottom: 40px;
    right: 25px;
    background-color: var(--color-black);
    z-index: 10;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    display: none;
}
.bttop > i{
    color: var(--color-white);
    font-size: 1.5rem;
}
.bttop:hover{
    background-color: var(--primary-color);
}

.header{
    height: var(--header-height);
    background-color: var(--main-color);
    width: 100%;
}

.header > .grid{
    height: 140px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav > ul{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

ul > li > a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.6rem;
}

.nav > ul > li{
    padding: 10px 8px;
    min-width: 100px;
    text-align: center;
}

.nav > ul > li > a > i{
    padding-right: 10px;
    font-size: 1.6rem;
}



.header-with-search{
    height: calc(var(--height-with-search));
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo-img{
    width: 200px;
    text-align: center;
}

.logo-img a img{
    border-radius: 50%;
}


.search{
    height: 40px;
    width: 60%;
    position: relative;
    background-color: var(--color-white);
    border-radius: 3px;
}

.search-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.search-field{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    padding-left: 10px;
}

.search-field:focus ~ .history{
    display: block;
}

.shopping-bag{
    width: 150px;
    text-align: center;
}

.shopping-bag i{
    color: var(--color-white);
    font-size: 3rem;
}

.search-btn{
    position: absolute;
    height: 36px;
    width: 50px;
    right: 2px;
    border: none;
    top: 2px;
    background-color: var(--main-color);
    border-radius: 3px;
    cursor: pointer;
}

.search-btn:hover{
    background-color: #3d1a1a;
}

.search-btn i{
    font-size: 1.7rem;
    color: var(--color-white);
}

.history{
    background-color: var(--color-white);
    position: absolute;
    top: 105%;
    box-shadow: 0 0 3px #999;
    overflow: hidden;
    width: calc(100% - 50px);
    border-radius: 3px;
    z-index: 1000;
    display: none;
}

.history-heading{
    font-size: 1.4rem;
    margin: 0;
    padding: 5px 0 5px 10px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.history-list{
    padding: 0;
    list-style: none;
    margin: 0;
}

.history-list-item {
    padding: 0 10px;
    height: 30px;
    
}

.history-list-item:hover{
    background-color: rgb(248, 246, 246);
}

.history-list-item a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 30px;
    display: block;
}

/* HEADER MOBILE */

.header-mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    
}
.header-mobile-wrap{
    display: none;
    position: relative;
    top: 0;
}
.header-logo-mobile{
    padding-top: 5px;
    text-align: center;
}
.header-logo-mobile  img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}


.header-mobile-category{
    padding-left: 25px;
    cursor: pointer;
}
.header-category,
.header-mobile-search i {
    font-size: 2.5rem;
    color: var(--color-white);
}
.header-mobile-search{
    padding-right: 25px;
    cursor: pointer;
}
.header-search-checkbox:checked ~ .header-with-search{
    display: block;
}

.mobile-main-menu-wrap{
    top: -70px;
    position: relative;
    z-index: 40;
    width: 70%;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 3px #666;
    background-color: var(--main-color);
    animation: slideFromLeft .5s ease;
    -moz-animation:slideFromLeft .5s ease;
    -webkit-animation: slideFromLeft .5s ease;
    -o-animation: slideFromLeft .5s ease;
    display: none;
}
.mobile-main-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-main-menu li{
    border-bottom: 1px solid rgb(180, 138, 138 ,60%);
    padding: 5px;
}

.mobile-main-menu li:hover{
    background-color: #694044;
}

.mobile-main-menu li ul li:hover{
    background-color: #909f39;
}

.mobile-main-menu li:last-child{
    border: none;
}
.mobile-main-menu li a{
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--color-white);
    padding: 5px 15px;
    line-height: 2.4rem;
    display: block;
    position: relative;
}


.mobile-main-menu li a i{
    padding-right: 5px;
    font-size: 1.8rem;
}

.mobile-main-menu .header-logo-mobile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.side-to-left{
    position: absolute;
    top: 0;
    left: 100%;
    background: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 30px;
    outline: none;
    border: none;
    cursor: pointer;
}
.side-to-left i {
    color: var(--color-white);
    font-size: 1.6rem;
}

span.plus, span.minus, span.plus1, span.minus1{
    right: 7px;
    top: 5px;
    position: absolute;
    font-size: 2.2rem;
}
span.minus, span.minus1{
   display: none;
}


.accordion-list, .accordion-list1{
    padding: 0;
    background-color: rgb(125, 120, 5);
    display: none;
}

.app{
    position: relative;
    overflow: hidden;
}

.menu-mobile-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}



@keyframes slideFromLeft{
    from {
        transform: translateX(-150px);
    }
    to{
        transform: translateX(0);
    }
}

/*  --------------------------------------------  */



/* ----------------------------CATEGORY ----------------*/

.category-wrap{
    position: absolute;
    left: 23%;
    top: 120px;
}

.category-list{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.category-list > li{
    list-style: none;
    line-height: 1.3rem;
    padding: 0 13px 10px 5px;
}

.category-list li a{
    font-size: 1.3rem;
    color: var(--color-white);
    font-weight: 600;
}

.category-list li a i{
    padding-left: 3px;
    font-size: 1.3rem;
}

.category-list  > li > a::after{
    content:"";
    position: absolute;
    width: 85px;
    height: 2px;
    left: 4px;
    top: 15px;
    background-color: var(--primary-color);
    display: none;
}
.category-list  > .current > a::after{
    display: block;
}   

.category-list > li:first-child > a:hover::after{
    display: block; 
}

.category-list > li:nth-child(2) > a:hover::after{
    display: block;
    width: 130px;
    left: 102px;
}
.category-list > li:nth-child(3) > a:hover::after{
    display: block;
    width: 99px;
    left: 247px;
}
.category-list > li:nth-child(4) > a:hover::after{
    display: block;
    width: 60px;
    left: 362px;
}
.category-list > li:nth-child(5) > a:hover::after{
    display: block;
    width: 92px;
    left: 433px;
}

.dropdown-item:hover{
    background-color: rgb(80, 140, 40);
}

.dropdown:hover .dropdown-list{
    display: block;
}

.dropdown-list,
.dropdown-list1{
    position: absolute;
    padding: 0;
    margin: 0;  
    background-color: #484105;
    list-style: none;
    border-radius: 4px;
    top: 20px;
    left: -12px;
    z-index: 5;
    box-shadow: 0 0 3px #666;
    display: none;
}

.dropdown-list::after{
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent #484105 transparent;
    position: absolute;
    top: -15px;
    left: 80%;
    z-index: -1;
}

.dropdown-list .dropdown-item a,
.dropdown-list1 .dropdown-item a{
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
}

.dropdown-item{
    line-height: 2.2rem;
    padding: 5px 10px;
    width: 230px;
}

.dropdown-list1{
    left: 105px;
}

.dropdown-list1::after{
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent #484105 transparent;
    position: absolute;
    top: -15px;
    left: 80%;
    z-index: -1;
}

.dropdown:hover .dropdown-list1{
    display: block;
}
/* ================================================ */
/*===================== Container================== */
.container{
    position: relative;
    overflow: hidden;
}
/* SLIDESHOW */
.slider-wrap{
    width: 100%;
    max-height: 400px;
    position: relative;
}

.sliders{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slide img{
    width: 100%;
    height: 400px;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    visibility: hidden;
}

.slide.active{
    opacity: 1;
    visibility: visible;
}


.btn-slide span{
    color: rgb(158, 149, 149);
    font-size: 3.6rem;
    padding: 0 20px;
    opacity: 0.7;
}

#btn-prev{
    position: absolute;
    left: 0;
    top: 44%;
    cursor: pointer;
}

#btn-next{
    position: absolute;
    right: 0;
    top: 44%;
    cursor: pointer;
}
/* next */
.bien-mat-ben-trai{
    animation: bien-mat-ben-trai 0.5s forwards;
    -webkit-animation: bien-mat-ben-trai 0.5s forwards;
    -moz-animation: bien-mat-ben-trai 0.5s forwards;
    -o-animation: bien-mat-ben-trai 0.5s forwards;
}
@keyframes bien-mat-ben-trai{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.di-vao-ben-phai{
    animation: di-vao-ben-phai 0.5s forwards;
    -webkit-animation: di-vao-ben-phai 0.5s forwards;
    -moz-animation: di-vao-ben-phai 0.5s forwards;
    -o-animation: di-vao-ben-phai 0.5s forwards;
}
@keyframes di-vao-ben-phai{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
/* prev */
.bien-mat-ben-phai{
    animation: bien-mat-ben-phai 0.5s forwards;
    -moz-animation: bien-mat-ben-phai 0.5s forwards;
    -webkit-animation: bien-mat-ben-phai 0.5s forwards;
    -o-animation: bien-mat-ben-phai 0.5s forwards;
}
@keyframes bien-mat-ben-phai{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}
.di-vao-ben-trai{
    animation: di-vao-ben-trai 0.5s forwards;
    -moz-animation: di-vao-ben-trai 0.5s forwards;
    -o-animation: di-vao-ben-trai 0.5s forwards;
    -webkit-animation: di-vao-ben-trai 0.5s forwards;
}
@keyframes di-vao-ben-trai{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
/* ====================== */

/* =========================HOME PRODUCT======================= */
/* HOME-PRODUCT */
.home-container{
    background-color: var(--background-color);
}
.wrapper{
    padding: 35px 20px;
}

.title-text{
    text-align: center;
    padding: 40px 0;
}
.title-text > h3{
    margin: 0;
    font-size: 3rem;
    color: var(--primary-color);
    line-height: 3.3rem;
}

.title-text img {
    width: 50px;
    height: 50px;
}

.product-item{
    background-color: var(--color-white);
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.product-item:hover .product-item_img img{
    transform: scale(1.1);
}

.product-item_img{
    display: block;
    overflow: hidden;
    height: 250px;
}

.product-item_img img{
    height: 250px;
    width: 100%;
    transform: scale(1);
    transition: 0.4s;
}

.product-item_name{
    text-align: center;
    padding: 5px;
}
.product-item:hover .product-item_name a{
    color: var(--primary-color);
}

.product-item_name a{
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    height: 28px;
    line-height: 26px;
    color: #333333;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product-item_name p{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
    
}

.product-price_action{
    height: 40px;
    position: relative;
   
}

.product-price_action span{
    font-size: 1.7rem;
    font-weight: 500;
}
.product-price{
    background-color: var(--primary-color);
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 600;
    height: 40px;
    color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    z-index: 2;
}

.product-cart-buy{
    border: none;
    outline: none;
    background-color: var(--main-color);
    height: 40px;
    position: absolute;
    top: 0;
    left: 88px;
    width: 50px;
    border-top-right-radius: 10px;
    z-index: 0;

}
.product-cart-buy > i{
    font-size: 1.6rem;
    color: var(--color-white);
    cursor: pointer;
}

.button-view{
    text-align: center;
    padding-top: 30px;
}
.btn-view-more{
    outline: none;
    border: none;
    height: 36px;
    width: 100px;
    background-color: #3d1a1a;
    border-radius: 3px;
    cursor: pointer;
}
.btn-view-more span{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--color-white);
    font-weight: 600;
}
.btn-view-more:hover{
    background-color: var(--primary-color);
}
/* =============================================================== */
/* -------------------Home order------------------------ */
.home-order{
    width: 100%;
    height: 100%;
    background: url("/img/background-order2.jpg") no-repeat fixed;
}

.inner{
    padding: 30px 10px;
}

.order-form{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    z-index: 2;
}

.heading-order{
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    margin: 0;
    padding: 26px 0;
    line-height: 2.6rem;
}

.form-gr{
    padding: 5px 17px 5px 15px;
}

.form-gr > label{
    display: block;
    color: var(--color-white);
    font-size: 1.9rem;
    padding: 5px 0px 5px 5px;
    font-weight: 500;
}
.form-gr > input{
    height: 35px;
}

.form-gr > textarea{
    padding-top: 5px;
    height: 160px;
}


.form-gr > input,textarea{
    font-size: 1.7rem;
    color: #878787;
    border-radius: 4px;
    width: 100%;
    outline: none;
    padding-left: 4px;
    border: none;
}

.btn-order {
    text-align: center;
    font-size: 1.9rem;
    padding: 10px 0 15px 0;
}

.button {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-white);
    background-color: #5b3236;
    outline: none;
    border: none;
    border-radius: 10px;
    line-height: 4rem;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-color);
}

/* ================================================= */

/* --------------------------Home-news------------------- */
.sub-title{
    color: var(--main-color);
    font-size: 2.4rem;
    margin: 0;
    line-height: 2.5rem;
}

.home-news{
    background-color: var(--background-color);
    padding: 40px 10px;
}

.body-news{
    background-color: var(--color-white);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.news-img img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.body-news:hover .heading-news > h3{
    color: var(--primary-color);

}

.body-news:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgb(0, 0, 0,0.05);
}
.heading-news{
    text-decoration: none;
    text-align: center;
    margin: 0;
}

.heading-news h3{
    padding: 9px 5px;
    font-size: 1.8rem;
    margin: 0;
    color: var(--main-color);
}

.news-detail{
    margin: 0;
    padding: 15px 10px;
    font-size: 1.5rem;
    height: 105px;
    overflow-y: hidden;
    font-weight: 500;
    line-height: 2rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: horizontal;
}

.news-wrap{
    padding-bottom: 15px;
    height: 430px;
}

.comments a{
    padding-left: 10px;
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--primary-color);
}


/* =================================================== */

/* ----------------------------------ABOUT---------------------*/
.about-us{
    padding: 10px 0 20px;
}
.about-img-wrap{
    border: 1px solid var(--color-black);
    width: 400px;
    height: 300px;
    display: inline;
    float: left;
    border-radius: 25px;
    margin-right: 40px;
}
.about-img-wrap img{
    width: 400px;
    height: 300px;
    border-radius: 25px;
    transform: translate(15px, -10px);
    transition: 0.5s;
}

.about-img-wrap img:hover{
    transform: translate(0);
}


.clearfix{
    overflow: auto;
}

.about-us .info{
    margin: 0;
    font-size: 1.7rem;
    line-height: 2.6rem;
}
/* ==================================================== */
.footer{
    position: relative;
    top: 0;
}
.footer-background{
    width: 100%;
    height: 100%;
    background: url("/img/footer-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.footer-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}
.footer-wrap > div {
    padding: 35px 0;
    z-index: 2;
}
.heading-title {
    font-size: 1.9rem;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 700;
}
.footer-list{
    padding: 0;
    margin: 0;
}
.footer-list > li{
    list-style: none;
    line-height: 3.3rem;
}
.footer-list > li > a:hover {
    color:var(--primary-color);
}
/* chỉnh màu khi hover vào icon */
.media-icon > a:hover .fb{  
    color: #2d88ff;
}
.media-icon > a:hover .in{
    color: #f87314;
  
}
.media-icon > a:hover .you{
    color: #da1803;
}

.media-icon > a:hover .lin{
    color: #2818db;
}
.media-icon > a:hover .twi{
    color: #00b0e9;
}
.media-icon > a:hover .gg{
    color: var(--primary-color);
}
.footer-list > li > a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-white);
    padding-right: 3px;
}
.footer-list > li > a > i{
    font-size: 2rem;
    padding-right: 3px;
}
.footer-logo_img {
    position: relative;
    width: 130px;
    height: 130px;
    left: 40px;
    border-radius: 50%;
}
.footer-list > li > a > img{
    width: 65px;
    height: 65px;
    border-radius: 10px;
}
.footer-list > li > a > img:hover {
    transform: scale(1.03);
}
.media-icon > a{
    text-decoration: none;
    font-size: 2.2rem;
    color: var(--color-white);
    line-height: 3.4rem;
    padding: 0 6px;
}
.license-logo{
    padding-top: 15px;
}
.license-logo img{
    width: 195px;
    height: 85px;
}
.footer_bottom {
    background-color: #5b3236;
    z-index: 2;
}
.footer-text {
    text-align: center;
    line-height: 5rem;
    vertical-align: middle;
    font-size: 1.5rem;
    color: #929191;
}

/* ============================================== */

/* ---------------------AUTH-FORM--------------------- */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 14;
    display: none;
    animation: fadeIn 0.1s linear;
    -moz-animation: fadeIn 0.1s linear;
    -webkit-animation: fadeIn 0.1s linear;
    -o-animation: fadeIn 0.1s linear;
}

@keyframes fadeIn{
    from{
        opacity: 0.6;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from-item));
    }
    to{
        transform: scale(var(--growth-to-item));
    }
}

.modal_overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.modal_body{
    --growth-from-item: 70%;
    --growth-to-item: 100%;
    height: 480px;
    width: 500px;
    background-color: var(--color-white);
    margin: auto;
    z-index: 20;
    position: relative;
    border-radius: 3px;
    animation: growth 0.1s linear;
    -moz-animation: growth 0.1s linear;
    -o-animation:  growth 0.1s linear;
    -webkit-animation:  growth 0.1s linear;
}

.modal_body .close{
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    border-radius: 3px;
    cursor: pointer;
}

.modal_inner{
    padding: 20px;
}
.auth-form_heading{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 0 16px;
    font-weight: 600;
}

.auth-form_heading .sign-up{
    color: var(--primary-color);
    font-size: 2.6rem;
}

.auth-form_wrap{
    padding: 16px;
}

.auth-form-gr{
    position: relative;
}

.auth-form-gr > input {
    width: 96%;
    height: 36px;
    margin-top: 16px;
    font-size: 1.5rem;
    padding: 0 7px;
    border: 1px solid var(--color-black);
    border-radius: 3px;
    outline: none;
    color: var(--text-color);
}
.auth-form-aside{
    padding: 20px;
}
.auth-form-aside p{
    
    margin: 0;
}
.auth-form-aside .auth-form-policy-text{
    font-size: 1.6rem;
}

.auth-form-aside .auth-form-policy-text a{
    text-decoration: none;
    color: var(--primary-color);
}

.btn-controls{
    height: 42px;
    display: flex;
    position: relative;
}
.btn-sign-up{
    height: 42px;
    width: 120px;
    position: absolute;
    right: 36px;
    outline: none;
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    font-size: 1.9rem;
    color: var(--color-white);
    font-weight: 500;
    cursor: pointer;
}
.btn-normal{
    right: 160px;
    color: var(--color-black);
    height: 42px;
    width: 120px;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 1.9rem;
    font-weight: 500;
    background-color: var(--color-white);
}

.btn-normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.link-to-media{
    background-color: #F5F5F5;
    position: absolute;
    bottom: 0;
    width: 87.2%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
}

.link-to-media a{
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 3px;
    line-height: 3rem;
    width: 40%;
    text-align: center ;
}
.social-fb{
    background-color: rgb(56, 88, 152);
    color: var(--color-white);
}
.social-gg{
    background-color: white;
    color: var(--color-black);
}
.social-gg i{
    color: var(--primary-color);
}